.header {
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: rgb(235, 195, 64);
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
}

.header :first-child{
    display: inline;
    margin-right: 5rem;
}
  
.header :last-child{
    display: inline;
}